.nofiSystem {
  color: blue;
  text-align: center;
  font-style: italic;
}
.yourMess .content {
  display: flex;
  flex-direction: row-reverse;
}
.yourMess .content .directionMess, .otherMess .content .directionMess {
    max-width: 60%;
}
.yourMess .content .directionMess .contentMess {
  border: 1px solid transparent;
  background-color: rgb(26, 80, 219);
  color: white;
  border-radius: 15px;
  padding: 10px;
  list-style: none;
  margin-bottom: 20px;
  text-align: justify;
  
}
.yourMess .titleName .author {
  display: block;
  text-align: right;
}
.otherMess .content {
  display: flex;
  flex-direction: row;
}
.otherMess .content .directionMess .contentMess {
  border: 1px solid transparent;
  background-color: rgb(178, 169, 169);
  color: black;
  border-radius: 15px;
  padding: 10px;
  list-style: none;
  margin-bottom: 20px;
  text-align: justify;
}
